
body{
    background-image: url('image/1.jpg');
    background-size: cover; 
}
#selectRecipe{
    background-image: url("image/2.jpg");
    background-size: cover; 
}
footer{
    background-image: url("image/2.jpg");
    background-size: cover; 
    padding: 15px;
}
nav{
    background-image: url("image/2.jpg");
    background-size: cover; 
}
#result{
    font-family: serif;
    text-align: center;
}
h4{
    font-family: serif;
}
h5{
    font-family: serif;
}